In [1]:
import pandas as pd
import pdb

from utils.experiment_utils import *

%load_ext autoreload
%autoreload 2

Read in all saved results and make Latex table

Metrics:
* marginal cov
* ACCG
* average set size


To get multiple row levels, set a multi-index. To get multiple column levels, concatenate dataframes along axis=1.

In [3]:
# Map from dataset to folder with saved results
datasets = {'ImageNet': '.cache/paper/imagenet',
            'CIFAR-100': '.cache/paper/cifar100',
            'Places365': '.cache/paper/places365',
            'iNaturalist': '.cache/paper/inaturalist'}

n_totalcals = {10: '$n=10$', 30: '$n=30$'}
score_functions = {'softmax': '$\softmax$',
                  'APS': '$\APS$',
                  'RAPS': '$\RAPS$'}

methods = {'standard': '$\standard$', 
            'classwise': '$\classwise$',
            'always_cluster': '$\clustered$'}


# ATTEMPT 1

vertical_list = []
for dataset, save_folder in datasets.items():
    for score, score_name in score_functions.items():
        for method, method_name in methods.items(): 
            horizontal_dict = {}
            for n_totalcal, n_name in n_totalcals.items():
                folder = f'{save_folder}/n_totalcal={n_totalcal}/score={score}/'
                df = average_results_across_seeds(folder, print_results=False) # df = results DataFrame
                horizontal_dict[n_name] = pd.Series({'Dataset': dataset, 'Score function': score_name, 'Method': method_name, 
                               'ACCG': f"{df[df['method'] == method]['class_cov_gap_mean'].values[0]:.2f}" 
                                       f" ({df[df['method'] == method]['class_cov_gap_se'].values[0]:.2f})",
                               'Avg. set size:': f"{df[df['method'] == method]['avg_set_size_mean'].values[0]:.1f}" 
                                               f" ({df[df['method'] == method]['avg_set_size_se'].values[0]:.1f})",
                               'Marginal coverage:': f"{df[df['method'] == method]['marginal_cov_mean'].values[0]:.2f}" 
                                               f" ({df[df['method'] == method]['marginal_cov_se'].values[0]:.2f})"})
                       
            horizontal_df = pd.concat(horizontal_dict, axis=1).transpose()
#             pdb.set_trace()
            vertical_list.append(horizontal_df)                                         

df = pd.concat(vertical_list, ignore_index=True)                                                     
df = df.set_index(['Dataset', 'Score function', 'Method'])
# print(df)
print(df.to_latex(escape=False # So that backslashes are printed as `\' rather than '\textbackslash'
                 ))

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,5.226892,0.089969,38.306105,1.251245,1.937735,0.060146,0.900255,0.002882
1,classwise,6.552409,0.138292,41.471177,4.527139,24.847058,3.356368,0.909628,0.002143
2,always_cluster,4.461816,0.259284,26.717701,4.550845,2.949315,0.757161,0.901609,0.010070

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,5.225853,0.051083,38.215223,0.616720,1.939136,0.036383,0.900391,0.001748
1,classwise,4.156702,0.070181,23.080164,3.566490,5.795095,0.336304,0.905481,0.001729
2,always_cluster,3.407021,0.128531,18.895543,2.346407,2.678786,0.164535,0.904319,0.004158

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,5.226892,0.089969,38.306105,1.251245,1.937735,0.060146,0.900255,0.002882
1,classwise,6.552409,0.138292,41.471177,4.527139,24.847058,3.356368,0.909628,0.002143
2,always_cluster,4.461816,0.259284,26.717701,4.550845,2.949315,0.757161,0.901609,0.010070

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,5.225853,0.051083,38.215223,0.616720,1.939136,0.036383,0.900391,0.001748
1,classwise,4.156702,0.070181,23.080164,3.566490,5.795095,0.336304,0.905481,0.001729
2,always_cluster,3.407021,0.128531,18.895543,2.346407,2.678786,0.164535,0.904319,0.004158

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,5.226892,0.089969,38.306105,1.251245,1.937735,0.060146,0.900255,0.002882
1,classwise,6.552409,0.138292,41.471177,4.527139,24.847058,3.356368,0.909628,0.002143
2,always_cluster,4.461816,0.259284,26.717701,4.550845,2.949315,0.757161,0.901609,0.010070

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,5.225853,0.051083,38.215223,0.616720,1.939136,0.036383,0.900391,0.001748
1,classwise,4.156702,0.070181,23.080164,3.566490,5.795095,0.336304,0.905481,0.001729
2,always_cluster,3.407021,0.128531,18.895543,2.346407,2.678786,0.164535,0.904319,0.004158

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,2.569637,0.021355,21.406518,0.522804,25.561331,0.750017,0.899264,0.002322
1,classwise,6.599169,0.169015,44.208482,2.634571,78.582012,4.145957,0.909548,0.002477
2,always_cluster,2.976019,0.137046,20.784339,3.043966,28.791715,1.985610,0.904393,0.006006

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,2.614739,0.010876,20.554537,0.149323,26.108780,0.273935,0.900791,0.000834
1,classwise,4.201708,0.080924,23.878007,4.912887,42.059657,1.165043,0.905808,0.001050
2,always_cluster,2.684917,0.119804,19.001901,2.770175,27.572472,1.269917,0.899387,0.003257

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,2.569637,0.021355,21.406518,0.522804,25.561331,0.750017,0.899264,0.002322
1,classwise,6.599169,0.169015,44.208482,2.634571,78.582012,4.145957,0.909548,0.002477
2,always_cluster,2.976019,0.137046,20.784339,3.043966,28.791715,1.985610,0.904393,0.006006

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,2.614739,0.010876,20.554537,0.149323,26.108780,0.273935,0.900791,0.000834
1,classwise,4.201708,0.080924,23.878007,4.912887,42.059657,1.165043,0.905808,0.001050
2,always_cluster,2.684917,0.119804,19.001901,2.770175,27.572472,1.269917,0.899387,0.003257

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,2.569637,0.021355,21.406518,0.522804,25.561331,0.750017,0.899264,0.002322
1,classwise,6.599169,0.169015,44.208482,2.634571,78.582012,4.145957,0.909548,0.002477
2,always_cluster,2.976019,0.137046,20.784339,3.043966,28.791715,1.985610,0.904393,0.006006

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,2.614739,0.010876,20.554537,0.149323,26.108780,0.273935,0.900791,0.000834
1,classwise,4.201708,0.080924,23.878007,4.912887,42.059657,1.165043,0.905808,0.001050
2,always_cluster,2.684917,0.119804,19.001901,2.770175,27.572472,1.269917,0.899387,0.003257

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,3.030024,0.023484,25.417025,0.599985,5.141688,0.075216,0.900127,0.002824
1,classwise,6.569353,0.174820,44.177114,1.958021,36.732655,2.864136,0.909076,0.001694
2,always_cluster,3.098858,0.179884,21.171795,2.480768,6.398092,1.138982,0.903371,0.007502

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,3.031108,0.013193,24.820647,0.259535,5.175459,0.035915,0.901685,0.001362
1,classwise,4.289495,0.092024,24.442489,2.639926,10.468599,0.552432,0.907218,0.001539
2,always_cluster,2.827593,0.124860,17.944850,2.300678,6.752931,0.816408,0.901129,0.005056

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,3.030024,0.023484,25.417025,0.599985,5.141688,0.075216,0.900127,0.002824
1,classwise,6.569353,0.174820,44.177114,1.958021,36.732655,2.864136,0.909076,0.001694
2,always_cluster,3.098858,0.179884,21.171795,2.480768,6.398092,1.138982,0.903371,0.007502

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,3.031108,0.013193,24.820647,0.259535,5.175459,0.035915,0.901685,0.001362
1,classwise,4.289495,0.092024,24.442489,2.639926,10.468599,0.552432,0.907218,0.001539
2,always_cluster,2.827593,0.124860,17.944850,2.300678,6.752931,0.816408,0.901129,0.005056

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,3.030024,0.023484,25.417025,0.599985,5.141688,0.075216,0.900127,0.002824
1,classwise,6.569353,0.174820,44.177114,1.958021,36.732655,2.864136,0.909076,0.001694
2,always_cluster,3.098858,0.179884,21.171795,2.480768,6.398092,1.138982,0.903371,0.007502

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,3.031108,0.013193,24.820647,0.259535,5.175459,0.035915,0.901685,0.001362
1,classwise,4.289495,0.092024,24.442489,2.639926,10.468599,0.552432,0.907218,0.001539
2,always_cluster,2.827593,0.124860,17.944850,2.300678,6.752931,0.816408,0.901129,0.005056

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,4.284307,0.301919,14.230769,1.785691,6.338718,0.832415,0.899859,0.010116
1,classwise,6.859712,0.643465,33.470833,5.428314,18.866747,2.883627,0.906247,0.004932
2,always_cluster,3.968362,0.244618,13.853304,2.492463,6.983841,1.063310,0.905218,0.011354

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,4.207602,0.257839,14.926471,1.558060,6.335900,0.478837,0.900747,0.007127
1,classwise,4.556993,0.427862,18.650345,4.593009,10.838900,1.066245,0.905573,0.007616
2,always_cluster,3.652409,0.274921,12.808474,2.549718,7.978147,0.920732,0.907300,0.007289

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,4.284307,0.301919,14.230769,1.785691,6.338718,0.832415,0.899859,0.010116
1,classwise,6.859712,0.643465,33.470833,5.428314,18.866747,2.883627,0.906247,0.004932
2,always_cluster,3.968362,0.244618,13.853304,2.492463,6.983841,1.063310,0.905218,0.011354

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,4.207602,0.257839,14.926471,1.558060,6.335900,0.478837,0.900747,0.007127
1,classwise,4.556993,0.427862,18.650345,4.593009,10.838900,1.066245,0.905573,0.007616
2,always_cluster,3.652409,0.274921,12.808474,2.549718,7.978147,0.920732,0.907300,0.007289

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,4.284307,0.301919,14.230769,1.785691,6.338718,0.832415,0.899859,0.010116
1,classwise,6.859712,0.643465,33.470833,5.428314,18.866747,2.883627,0.906247,0.004932
2,always_cluster,3.968362,0.244618,13.853304,2.492463,6.983841,1.063310,0.905218,0.011354

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,4.207602,0.257839,14.926471,1.558060,6.335900,0.478837,0.900747,0.007127
1,classwise,4.556993,0.427862,18.650345,4.593009,10.838900,1.066245,0.905573,0.007616
2,always_cluster,3.652409,0.274921,12.808474,2.549718,7.978147,0.920732,0.907300,0.007289

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,4.227908,0.249416,14.199584,2.215040,8.861559,1.252065,0.897659,0.010657
1,classwise,6.722929,0.503518,34.064996,8.357704,21.452447,2.614896,0.907276,0.006395
2,always_cluster,3.968915,0.368809,13.160125,3.172917,9.245988,1.282525,0.899971,0.012140

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,4.250132,0.192230,13.797639,1.026717,9.321367,0.850918,0.901993,0.008395
1,classwise,4.604732,0.395601,19.305653,4.194234,13.995807,1.152953,0.905107,0.005897
2,always_cluster,3.759120,0.223996,14.747557,5.012981,10.558613,1.054754,0.904987,0.007766

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,4.227908,0.249416,14.199584,2.215040,8.861559,1.252065,0.897659,0.010657
1,classwise,6.722929,0.503518,34.064996,8.357704,21.452447,2.614896,0.907276,0.006395
2,always_cluster,3.968915,0.368809,13.160125,3.172917,9.245988,1.282525,0.899971,0.012140

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,4.250132,0.192230,13.797639,1.026717,9.321367,0.850918,0.901993,0.008395
1,classwise,4.604732,0.395601,19.305653,4.194234,13.995807,1.152953,0.905107,0.005897
2,always_cluster,3.759120,0.223996,14.747557,5.012981,10.558613,1.054754,0.904987,0.007766

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,4.227908,0.249416,14.199584,2.215040,8.861559,1.252065,0.897659,0.010657
1,classwise,6.722929,0.503518,34.064996,8.357704,21.452447,2.614896,0.907276,0.006395
2,always_cluster,3.968915,0.368809,13.160125,3.172917,9.245988,1.282525,0.899971,0.012140

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,4.250132,0.192230,13.797639,1.026717,9.321367,0.850918,0.901993,0.008395
1,classwise,4.604732,0.395601,19.305653,4.194234,13.995807,1.152953,0.905107,0.005897
2,always_cluster,3.759120,0.223996,14.747557,5.012981,10.558613,1.054754,0.904987,0.007766

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,4.991250,0.301074,14.607167,2.57321,6.362659,1.105681,0.900700,0.012116
1,classwise,6.679235,0.416558,34.103260,7.74386,16.824606,1.735860,0.907888,0.005509
2,always_cluster,4.780912,0.435703,15.253922,2.95320,6.796735,1.375607,0.901835,0.012685

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,4.964092,0.197182,15.550935,2.089336,6.499687,0.686454,0.903053,0.008363
1,classwise,4.543189,0.299301,20.177382,3.705926,11.715213,1.064243,0.909173,0.007085
2,always_cluster,4.232143,0.259145,18.613619,5.062369,7.607387,0.885390,0.904653,0.007947

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,4.991250,0.301074,14.607167,2.57321,6.362659,1.105681,0.900700,0.012116
1,classwise,6.679235,0.416558,34.103260,7.74386,16.824606,1.735860,0.907888,0.005509
2,always_cluster,4.780912,0.435703,15.253922,2.95320,6.796735,1.375607,0.901835,0.012685

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,4.964092,0.197182,15.550935,2.089336,6.499687,0.686454,0.903053,0.008363
1,classwise,4.543189,0.299301,20.177382,3.705926,11.715213,1.064243,0.909173,0.007085
2,always_cluster,4.232143,0.259145,18.613619,5.062369,7.607387,0.885390,0.904653,0.007947

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,4.991250,0.301074,14.607167,2.57321,6.362659,1.105681,0.900700,0.012116
1,classwise,6.679235,0.416558,34.103260,7.74386,16.824606,1.735860,0.907888,0.005509
2,always_cluster,4.780912,0.435703,15.253922,2.95320,6.796735,1.375607,0.901835,0.012685

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,4.964092,0.197182,15.550935,2.089336,6.499687,0.686454,0.903053,0.008363
1,classwise,4.543189,0.299301,20.177382,3.705926,11.715213,1.064243,0.909173,0.007085
2,always_cluster,4.232143,0.259145,18.613619,5.062369,7.607387,0.885390,0.904653,0.007947

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,4.557223,0.113248,21.978495,0.952326,6.895214,0.226772,0.899975,0.003654
1,classwise,6.628939,0.311679,39.430374,5.396893,17.082802,1.259444,0.908683,0.003728
2,always_cluster,4.083001,0.206222,21.273905,7.148020,7.647500,1.213261,0.901601,0.016315

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,4.561532,0.084451,22.058637,0.844482,6.884584,0.146763,0.899810,0.002455
1,classwise,4.244573,0.131209,20.363111,3.520931,10.366731,0.209286,0.905344,0.001973
2,always_cluster,3.226421,0.119176,14.606852,2.791250,7.924477,0.355833,0.905671,0.005265

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,4.557223,0.113248,21.978495,0.952326,6.895214,0.226772,0.899975,0.003654
1,classwise,6.628939,0.311679,39.430374,5.396893,17.082802,1.259444,0.908683,0.003728
2,always_cluster,4.083001,0.206222,21.273905,7.148020,7.647500,1.213261,0.901601,0.016315

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,4.561532,0.084451,22.058637,0.844482,6.884584,0.146763,0.899810,0.002455
1,classwise,4.244573,0.131209,20.363111,3.520931,10.366731,0.209286,0.905344,0.001973
2,always_cluster,3.226421,0.119176,14.606852,2.791250,7.924477,0.355833,0.905671,0.005265

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,4.557223,0.113248,21.978495,0.952326,6.895214,0.226772,0.899975,0.003654
1,classwise,6.628939,0.311679,39.430374,5.396893,17.082802,1.259444,0.908683,0.003728
2,always_cluster,4.083001,0.206222,21.273905,7.148020,7.647500,1.213261,0.901601,0.016315

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,4.561532,0.084451,22.058637,0.844482,6.884584,0.146763,0.899810,0.002455
1,classwise,4.244573,0.131209,20.363111,3.520931,10.366731,0.209286,0.905344,0.001973
2,always_cluster,3.226421,0.119176,14.606852,2.791250,7.924477,0.355833,0.905671,0.005265

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,3.301044,0.086411,18.260870,1.157385,10.742921,0.447647,0.898900,0.005007
1,classwise,6.765607,0.357774,41.094811,5.806702,22.468075,1.475570,0.906170,0.004077
2,always_cluster,3.422439,0.250254,15.049659,3.633450,11.567404,1.750733,0.902765,0.016293

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,3.320499,0.056372,18.250540,1.129736,10.817596,0.399302,0.900066,0.004439
1,classwise,4.260000,0.145567,22.834260,3.835525,14.805267,0.449469,0.905126,0.004020
2,always_cluster,2.898811,0.114943,14.351181,3.017823,11.760721,0.675027,0.903845,0.006722

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,3.301044,0.086411,18.260870,1.157385,10.742921,0.447647,0.898900,0.005007
1,classwise,6.765607,0.357774,41.094811,5.806702,22.468075,1.475570,0.906170,0.004077
2,always_cluster,3.422439,0.250254,15.049659,3.633450,11.567404,1.750733,0.902765,0.016293

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,3.320499,0.056372,18.250540,1.129736,10.817596,0.399302,0.900066,0.004439
1,classwise,4.260000,0.145567,22.834260,3.835525,14.805267,0.449469,0.905126,0.004020
2,always_cluster,2.898811,0.114943,14.351181,3.017823,11.760721,0.675027,0.903845,0.006722

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,3.301044,0.086411,18.260870,1.157385,10.742921,0.447647,0.898900,0.005007
1,classwise,6.765607,0.357774,41.094811,5.806702,22.468075,1.475570,0.906170,0.004077
2,always_cluster,3.422439,0.250254,15.049659,3.633450,11.567404,1.750733,0.902765,0.016293

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,3.320499,0.056372,18.250540,1.129736,10.817596,0.399302,0.900066,0.004439
1,classwise,4.260000,0.145567,22.834260,3.835525,14.805267,0.449469,0.905126,0.004020
2,always_cluster,2.898811,0.114943,14.351181,3.017823,11.760721,0.675027,0.903845,0.006722

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,3.822138,0.036779,19.648033,1.125654,7.940050,0.251879,0.899862,0.005156
1,classwise,6.776532,0.322237,40.579207,6.319748,20.061266,1.581733,0.906239,0.004261
2,always_cluster,3.970206,0.321870,18.276437,4.051518,8.575164,1.041204,0.901372,0.016745

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,3.850051,0.025797,19.848812,0.701861,7.964648,0.147117,0.900768,0.003202
1,classwise,4.239898,0.143409,21.246534,3.700256,12.014924,0.226424,0.906651,0.002201
2,always_cluster,3.393868,0.157763,15.004508,2.226170,9.214913,0.457836,0.905642,0.006442

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,3.822138,0.036779,19.648033,1.125654,7.940050,0.251879,0.899862,0.005156
1,classwise,6.776532,0.322237,40.579207,6.319748,20.061266,1.581733,0.906239,0.004261
2,always_cluster,3.970206,0.321870,18.276437,4.051518,8.575164,1.041204,0.901372,0.016745

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,3.850051,0.025797,19.848812,0.701861,7.964648,0.147117,0.900768,0.003202
1,classwise,4.239898,0.143409,21.246534,3.700256,12.014924,0.226424,0.906651,0.002201
2,always_cluster,3.393868,0.157763,15.004508,2.226170,9.214913,0.457836,0.905642,0.006442

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,3.822138,0.036779,19.648033,1.125654,7.940050,0.251879,0.899862,0.005156
1,classwise,6.776532,0.322237,40.579207,6.319748,20.061266,1.581733,0.906239,0.004261
2,always_cluster,3.970206,0.321870,18.276437,4.051518,8.575164,1.041204,0.901372,0.016745

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,3.850051,0.025797,19.848812,0.701861,7.964648,0.147117,0.900768,0.003202
1,classwise,4.239898,0.143409,21.246534,3.700256,12.014924,0.226424,0.906651,0.002201
2,always_cluster,3.393868,0.157763,15.004508,2.226170,9.214913,0.457836,0.905642,0.006442

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,5.767872,0.043821,53.394495,1.326315,6.680622,0.124156,0.946609,0.001059
1,classwise,6.672675,0.157921,43.382287,6.934011,18.985864,1.236511,0.904709,0.009573
2,always_cluster,4.640929,0.236943,37.256997,4.692131,6.564205,0.607981,0.927182,0.009225

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,5.759740,0.049589,53.534565,2.674387,6.771864,0.086006,0.948342,0.000750
1,classwise,4.379724,0.067573,24.068253,2.372364,8.160410,0.168690,0.903789,0.005025
2,always_cluster,4.078595,0.218045,27.409842,2.661888,6.873414,0.518418,0.924950,0.004693

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,5.767872,0.043821,53.394495,1.326315,6.680622,0.124156,0.946609,0.001059
1,classwise,6.672675,0.157921,43.382287,6.934011,18.985864,1.236511,0.904709,0.009573
2,always_cluster,4.640929,0.236943,37.256997,4.692131,6.564205,0.607981,0.927182,0.009225

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,5.759740,0.049589,53.534565,2.674387,6.771864,0.086006,0.948342,0.000750
1,classwise,4.379724,0.067573,24.068253,2.372364,8.160410,0.168690,0.903789,0.005025
2,always_cluster,4.078595,0.218045,27.409842,2.661888,6.873414,0.518418,0.924950,0.004693

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,5.767872,0.043821,53.394495,1.326315,6.680622,0.124156,0.946609,0.001059
1,classwise,6.672675,0.157921,43.382287,6.934011,18.985864,1.236511,0.904709,0.009573
2,always_cluster,4.640929,0.236943,37.256997,4.692131,6.564205,0.607981,0.927182,0.009225

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,5.759740,0.049589,53.534565,2.674387,6.771864,0.086006,0.948342,0.000750
1,classwise,4.379724,0.067573,24.068253,2.372364,8.160410,0.168690,0.903789,0.005025
2,always_cluster,4.078595,0.218045,27.409842,2.661888,6.873414,0.518418,0.924950,0.004693

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,4.684270,0.015260,61.318681,1.588663,13.151043,0.290237,0.930138,0.002080
1,classwise,6.645980,0.211133,43.082441,5.120591,27.114189,1.301729,0.908754,0.007666
2,always_cluster,4.036912,0.272098,45.474305,7.458223,12.531445,0.840266,0.915908,0.008382

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,4.755057,0.024477,61.285818,3.317612,13.226553,0.072435,0.931924,0.000514
1,classwise,4.404852,0.073056,23.860136,2.269844,15.234935,0.383150,0.905102,0.005166
2,always_cluster,3.464653,0.196339,23.585994,4.527905,13.072684,0.716134,0.917341,0.005490

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,4.684270,0.015260,61.318681,1.588663,13.151043,0.290237,0.930138,0.002080
1,classwise,6.645980,0.211133,43.082441,5.120591,27.114189,1.301729,0.908754,0.007666
2,always_cluster,4.036912,0.272098,45.474305,7.458223,12.531445,0.840266,0.915908,0.008382

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,4.755057,0.024477,61.285818,3.317612,13.226553,0.072435,0.931924,0.000514
1,classwise,4.404852,0.073056,23.860136,2.269844,15.234935,0.383150,0.905102,0.005166
2,always_cluster,3.464653,0.196339,23.585994,4.527905,13.072684,0.716134,0.917341,0.005490

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,4.684270,0.015260,61.318681,1.588663,13.151043,0.290237,0.930138,0.002080
1,classwise,6.645980,0.211133,43.082441,5.120591,27.114189,1.301729,0.908754,0.007666
2,always_cluster,4.036912,0.272098,45.474305,7.458223,12.531445,0.840266,0.915908,0.008382

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,4.755057,0.024477,61.285818,3.317612,13.226553,0.072435,0.931924,0.000514
1,classwise,4.404852,0.073056,23.860136,2.269844,15.234935,0.383150,0.905102,0.005166
2,always_cluster,3.464653,0.196339,23.585994,4.527905,13.072684,0.716134,0.917341,0.005490

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,5.539789,0.022748,50.000000,1.310354,7.390987,0.115529,0.942645,0.001879
1,classwise,6.651303,0.210487,42.757164,5.460594,41.182646,3.272216,0.908644,0.008017
2,always_cluster,4.642934,0.144482,43.564830,10.621621,9.787497,2.657746,0.925662,0.006588

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,5.586198,0.030168,50.725137,2.866401,7.477019,0.065477,0.945227,0.001032
1,classwise,4.451199,0.085627,24.976343,2.059671,15.176454,0.518972,0.905187,0.005257
2,always_cluster,3.825681,0.129089,25.747779,4.840127,14.290644,2.425705,0.921317,0.005926

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,5.539789,0.022748,50.000000,1.310354,7.390987,0.115529,0.942645,0.001879
1,classwise,6.651303,0.210487,42.757164,5.460594,41.182646,3.272216,0.908644,0.008017
2,always_cluster,4.642934,0.144482,43.564830,10.621621,9.787497,2.657746,0.925662,0.006588

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,5.586198,0.030168,50.725137,2.866401,7.477019,0.065477,0.945227,0.001032
1,classwise,4.451199,0.085627,24.976343,2.059671,15.176454,0.518972,0.905187,0.005257
2,always_cluster,3.825681,0.129089,25.747779,4.840127,14.290644,2.425705,0.921317,0.005926

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,5.539789,0.022748,50.000000,1.310354,7.390987,0.115529,0.942645,0.001879
1,classwise,6.651303,0.210487,42.757164,5.460594,41.182646,3.272216,0.908644,0.008017
2,always_cluster,4.642934,0.144482,43.564830,10.621621,9.787497,2.657746,0.925662,0.006588

Number of seeds found: 10

,method,class_cov_gap_mean,class_cov_gap_se,max_class_cov_gap_mean,max_class_cov_gap_se,avg_set_size_mean,avg_set_size_se,marginal_cov_mean,marginal_cov_se
0,standard,5.586198,0.030168,50.725137,2.866401,7.477019,0.065477,0.945227,0.001032
1,classwise,4.451199,0.085627,24.976343,2.059671,15.176454,0.518972,0.905187,0.005257
2,always_cluster,3.825681,0.129089,25.747779,4.840127,14.290644,2.425705,0.921317,0.005926

\begin{tabular}{llllll}
\toprule
            &         &              &         ACCG & Avg. set size: & Marginal coverage: \\
Dataset & Score function & Method &              &                &                    \\
\midrule
ImageNet & $\softmax$ & $\standard$ &  5.23 (0.09) &      1.9 (0.1) &        0.90 (0.00) \\
            &         & $\standard$ &  5.23 (0.05) &      1.9 (0.0) &        0.90 (0.00) \\
            &         & $\classwise$ &  6.55 (0.14) &     24.8 (3.4) &        0.91 (0.00) \\
            &         & $\classwise$ &  4.16 (0.07) &      5.8 (0.3) &        0.91 (0.00) \\
            &         & $\clustered$ &  4.46 (0.26) &      2.9 (0.8) &        0.90 (0.01) \\
            &         & $\clustered$ &  3.41 (0.13) &      2.7 (0.2) &        0.90 (0.00) \\
            & $\APS$ & $\standard$ &  2.57 (0.02) &     25.6 (0.8) &        0.90 (0.00) \\
            &         & $\standard$ &  2.61 (0.01) &     26.1 (0.3) &        0.90 (0.00) \\
            &         & $\classwise$ &  6.60 (0.17) &     78.6 (4.1) &        0.91 (0.00) \\
            &         & $\classwise$ &  4.20 (0.08) &     42.1 (1.2) &        0.91 (0.00) \\
            &         & $\clustered$ &  2.98 (0.14) &     28.8 (2.0) &        0.90 (0.01) \\
            &         & $\clustered$ &  2.68 (0.12) &     27.6 (1.3) &        0.90 (0.00) \\
            & $\RAPS$ & $\standard$ &  3.03 (0.02) &      5.1 (0.1) &        0.90 (0.00) \\
            &         & $\standard$ &  3.03 (0.01) &      5.2 (0.0) &        0.90 (0.00) \\
            &         & $\classwise$ &  6.57 (0.17) &     36.7 (2.9) &        0.91 (0.00) \\
            &         & $\classwise$ &  4.29 (0.09) &     10.5 (0.6) &        0.91 (0.00) \\
            &         & $\clustered$ &  3.10 (0.18) &      6.4 (1.1) &        0.90 (0.01) \\
            &         & $\clustered$ &  2.83 (0.12) &      6.8 (0.8) &        0.90 (0.01) \\
CIFAR-100 & $\softmax$ & $\standard$ &  4.28 (0.30) &      6.3 (0.8) &        0.90 (0.01) \\
            &         & $\standard$ &  4.21 (0.26) &      6.3 (0.5) &        0.90 (0.01) \\
            &         & $\classwise$ &  6.86 (0.64) &     18.9 (2.9) &        0.91 (0.00) \\
            &         & $\classwise$ &  4.56 (0.43) &     10.8 (1.1) &        0.91 (0.01) \\
            &         & $\clustered$ &  3.97 (0.24) &      7.0 (1.1) &        0.91 (0.01) \\
            &         & $\clustered$ &  3.65 (0.27) &      8.0 (0.9) &        0.91 (0.01) \\
            & $\APS$ & $\standard$ &  4.23 (0.25) &      8.9 (1.3) &        0.90 (0.01) \\
            &         & $\standard$ &  4.25 (0.19) &      9.3 (0.9) &        0.90 (0.01) \\
            &         & $\classwise$ &  6.72 (0.50) &     21.5 (2.6) &        0.91 (0.01) \\
            &         & $\classwise$ &  4.60 (0.40) &     14.0 (1.2) &        0.91 (0.01) \\
            &         & $\clustered$ &  3.97 (0.37) &      9.2 (1.3) &        0.90 (0.01) \\
            &         & $\clustered$ &  3.76 (0.22) &     10.6 (1.1) &        0.90 (0.01) \\
            & $\RAPS$ & $\standard$ &  4.99 (0.30) &      6.4 (1.1) &        0.90 (0.01) \\
            &         & $\standard$ &  4.96 (0.20) &      6.5 (0.7) &        0.90 (0.01) \\
            &         & $\classwise$ &  6.68 (0.42) &     16.8 (1.7) &        0.91 (0.01) \\
            &         & $\classwise$ &  4.54 (0.30) &     11.7 (1.1) &        0.91 (0.01) \\
            &         & $\clustered$ &  4.78 (0.44) &      6.8 (1.4) &        0.90 (0.01) \\
            &         & $\clustered$ &  4.23 (0.26) &      7.6 (0.9) &        0.90 (0.01) \\
Places365 & $\softmax$ & $\standard$ &  4.56 (0.11) &      6.9 (0.2) &        0.90 (0.00) \\
            &         & $\standard$ &  4.56 (0.08) &      6.9 (0.1) &        0.90 (0.00) \\
            &         & $\classwise$ &  6.63 (0.31) &     17.1 (1.3) &        0.91 (0.00) \\
            &         & $\classwise$ &  4.24 (0.13) &     10.4 (0.2) &        0.91 (0.00) \\
            &         & $\clustered$ &  4.08 (0.21) &      7.6 (1.2) &        0.90 (0.02) \\
            &         & $\clustered$ &  3.23 (0.12) &      7.9 (0.4) &        0.91 (0.01) \\
            & $\APS$ & $\standard$ &  3.30 (0.09) &     10.7 (0.4) &        0.90 (0.01) \\
            &         & $\standard$ &  3.32 (0.06) &     10.8 (0.4) &        0.90 (0.00) \\
            &         & $\classwise$ &  6.77 (0.36) &     22.5 (1.5) &        0.91 (0.00) \\
            &         & $\classwise$ &  4.26 (0.15) &     14.8 (0.4) &        0.91 (0.00) \\
            &         & $\clustered$ &  3.42 (0.25) &     11.6 (1.8) &        0.90 (0.02) \\
            &         & $\clustered$ &  2.90 (0.11) &     11.8 (0.7) &        0.90 (0.01) \\
            & $\RAPS$ & $\standard$ &  3.82 (0.04) &      7.9 (0.3) &        0.90 (0.01) \\
            &         & $\standard$ &  3.85 (0.03) &      8.0 (0.1) &        0.90 (0.00) \\
            &         & $\classwise$ &  6.78 (0.32) &     20.1 (1.6) &        0.91 (0.00) \\
            &         & $\classwise$ &  4.24 (0.14) &     12.0 (0.2) &        0.91 (0.00) \\
            &         & $\clustered$ &  3.97 (0.32) &      8.6 (1.0) &        0.90 (0.02) \\
            &         & $\clustered$ &  3.39 (0.16) &      9.2 (0.5) &        0.91 (0.01) \\
iNaturalist & $\softmax$ & $\standard$ &  5.77 (0.04) &      6.7 (0.1) &        0.95 (0.00) \\
            &         & $\standard$ &  5.76 (0.05) &      6.8 (0.1) &        0.95 (0.00) \\
            &         & $\classwise$ &  6.67 (0.16) &     19.0 (1.2) &        0.90 (0.01) \\
            &         & $\classwise$ &  4.38 (0.07) &      8.2 (0.2) &        0.90 (0.01) \\
            &         & $\clustered$ &  4.64 (0.24) &      6.6 (0.6) &        0.93 (0.01) \\
            &         & $\clustered$ &  4.08 (0.22) &      6.9 (0.5) &        0.92 (0.00) \\
            & $\APS$ & $\standard$ &  4.68 (0.02) &     13.2 (0.3) &        0.93 (0.00) \\
            &         & $\standard$ &  4.76 (0.02) &     13.2 (0.1) &        0.93 (0.00) \\
            &         & $\classwise$ &  6.65 (0.21) &     27.1 (1.3) &        0.91 (0.01) \\
            &         & $\classwise$ &  4.40 (0.07) &     15.2 (0.4) &        0.91 (0.01) \\
            &         & $\clustered$ &  4.04 (0.27) &     12.5 (0.8) &        0.92 (0.01) \\
            &         & $\clustered$ &  3.46 (0.20) &     13.1 (0.7) &        0.92 (0.01) \\
            & $\RAPS$ & $\standard$ &  5.54 (0.02) &      7.4 (0.1) &        0.94 (0.00) \\
            &         & $\standard$ &  5.59 (0.03) &      7.5 (0.1) &        0.95 (0.00) \\
            &         & $\classwise$ &  6.65 (0.21) &     41.2 (3.3) &        0.91 (0.01) \\
            &         & $\classwise$ &  4.45 (0.09) &     15.2 (0.5) &        0.91 (0.01) \\
            &         & $\clustered$ &  4.64 (0.14) &      9.8 (2.7) &        0.93 (0.01) \\
            &         & $\clustered$ &  3.83 (0.13) &     14.3 (2.4) &        0.92 (0.01) \\
\bottomrule
\end{tabular}

/tmp/ipykernel_968166/2196600522.py:42: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(df.to_latex(escape=False # So that backslashes are printed as `\' rather than '\textbackslash'

In [27]:
# ATTEMPT 2

horizontal_dict = {}
for n_totalcal, n_name in n_totalcals.items():
    vertical_list = []
    for dataset, save_folder in datasets.items():
        for score, score_name in score_functions.items():
            for method, method_name in methods.items(): 

                folder = f'{save_folder}/n_totalcal={n_totalcal}/score={score}/'
                df = average_results_across_seeds(folder, print_results=False, display_table=False) # df = results DataFrame
                s = pd.Series({'Dataset': dataset, 'Score func.': score_name, 'Method': method_name, 
                               'ACCG': f"{df[df['method'] == method]['class_cov_gap_mean'].values[0]:.1f}" 
                                       f" ({df[df['method'] == method]['class_cov_gap_se'].values[0]:.1f})",
                               'Avg. set size': f"{df[df['method'] == method]['avg_set_size_mean'].values[0]:.1f}" 
                                               f" ({df[df['method'] == method]['avg_set_size_se'].values[0]:.1f})",
                               'Marginal cov.': f"{df[df['method'] == method]['marginal_cov_mean'].values[0]*100:.1f}" 
                                                   f" ({df[df['method'] == method]['marginal_cov_se'].values[0]*100:.1f})"})
                vertical_list.append(pd.DataFrame(s).transpose())                                        

    df = pd.concat(vertical_list, ignore_index=True)                                                     
    df = df.set_index(['Dataset', 'Score func.', 'Method'])
    horizontal_dict[n_name] = df
#     pdb.set_trace()

df = pd.concat(horizontal_dict, axis=1)
df_str = df.to_latex(multicolumn_format='c', # To center multilevel column headers
    escape=False # So that backslashes are printed as `\' rather than '\textbackslash'
                 )
# Post-process
df_str = df_str.replace('lllllllll', 'lllcrccrc')
df_str = df_str.replace('\multicolumn{3}{c}{$n=10$} & \multicolumn{3}{c}{$n=30$} \\',
               '\multicolumn{3}{c}{$n=10$} & \multicolumn{3}{c}{$n=30$} \\\\ \cmidrule(lr){4-6}\cmidrule(lr){7-9} \\')
df_str = df_str.replace('CIFAR-100', '\midrule\nCIFAR-100')
df_str = df_str.replace('Places365', '\midrule\nPlaces365')
df_str = df_str.replace('iNaturalist', '\midrule\niNaturalist')
print(df_str)

\begin{tabular}{lllrrrrrr}
\toprule
            &         &              & \multicolumn{3}{c}{$n=10$} & \multicolumn{3}{c}{$n=30$} \\ \cmidrule(lr){4-6}\cmidrule(lr){7-9} \\
            &         &              &       ACCG & Avg. set size & Marginal cov. &       ACCG & Avg. set size & Marginal cov. \\
Dataset & Score func. & Method &            &               &               &            &               &               \\
\midrule
ImageNet & $\softmax$ & $\standard$ &  5.2 (0.1) &     1.9 (0.1) &    90.0 (0.3) &  5.2 (0.1) &     1.9 (0.0) &    90.0 (0.2) \\
            &         & $\classwise$ &  6.6 (0.1) &    24.8 (3.4) &    91.0 (0.2) &  4.2 (0.1) &     5.8 (0.3) &    90.5 (0.2) \\
            &         & $\clustered$ &  4.5 (0.3) &     2.9 (0.8) &    90.2 (1.0) &  3.4 (0.1) &     2.7 (0.2) &    90.4 (0.4) \\
            & $\APS$ & $\standard$ &  2.6 (0.0) &    25.6 (0.8) &    89.9 (0.2) &  2.6 (0.0) &    26.1 (0.3) &    90.1 (0.1) \\
            &         & $\classwise$ &  6.6 (0.2) &    78.6 (4.1) &    91.0 (0.2) &  4.2 (0.1) &    42.1 (1.2) &    90.6 (0.1) \\
            &         & $\clustered$ &  3.0 (0.1) &    28.8 (2.0) &    90.4 (0.6) &  2.7 (0.1) &    27.6 (1.3) &    89.9 (0.3) \\
            & $\RAPS$ & $\standard$ &  3.0 (0.0) &     5.1 (0.1) &    90.0 (0.3) &  3.0 (0.0) &     5.2 (0.0) &    90.2 (0.1) \\
            &         & $\classwise$ &  6.6 (0.2) &    36.7 (2.9) &    90.9 (0.2) &  4.3 (0.1) &    10.5 (0.6) &    90.7 (0.2) \\
            &         & $\clustered$ &  3.1 (0.2) &     6.4 (1.1) &    90.3 (0.8) &  2.8 (0.1) &     6.8 (0.8) &    90.1 (0.5) \\
\midrule
CIFAR-100 & $\softmax$ & $\standard$ &  4.3 (0.3) &     6.3 (0.8) &    90.0 (1.0) &  4.2 (0.3) &     6.3 (0.5) &    90.1 (0.7) \\
            &         & $\classwise$ &  6.9 (0.6) &    18.9 (2.9) &    90.6 (0.5) &  4.6 (0.4) &    10.8 (1.1) &    90.6 (0.8) \\
            &         & $\clustered$ &  4.0 (0.2) &     7.0 (1.1) &    90.5 (1.1) &  3.7 (0.3) &     8.0 (0.9) &    90.7 (0.7) \\
            & $\APS$ & $\standard$ &  4.2 (0.2) &     8.9 (1.3) &    89.8 (1.1) &  4.3 (0.2) &     9.3 (0.9) &    90.2 (0.8) \\
            &         & $\classwise$ &  6.7 (0.5) &    21.5 (2.6) &    90.7 (0.6) &  4.6 (0.4) &    14.0 (1.2) &    90.5 (0.6) \\
            &         & $\clustered$ &  4.0 (0.4) &     9.2 (1.3) &    90.0 (1.2) &  3.8 (0.2) &    10.6 (1.1) &    90.5 (0.8) \\
            & $\RAPS$ & $\standard$ &  5.0 (0.3) &     6.4 (1.1) &    90.1 (1.2) &  5.0 (0.2) &     6.5 (0.7) &    90.3 (0.8) \\
            &         & $\classwise$ &  6.7 (0.4) &    16.8 (1.7) &    90.8 (0.6) &  4.5 (0.3) &    11.7 (1.1) &    90.9 (0.7) \\
            &         & $\clustered$ &  4.8 (0.4) &     6.8 (1.4) &    90.2 (1.3) &  4.2 (0.3) &     7.6 (0.9) &    90.5 (0.8) \\
\midrule
Places365 & $\softmax$ & $\standard$ &  4.6 (0.1) &     6.9 (0.2) &    90.0 (0.4) &  4.6 (0.1) &     6.9 (0.1) &    90.0 (0.2) \\
            &         & $\classwise$ &  6.6 (0.3) &    17.1 (1.3) &    90.9 (0.4) &  4.2 (0.1) &    10.4 (0.2) &    90.5 (0.2) \\
            &         & $\clustered$ &  4.1 (0.2) &     7.6 (1.2) &    90.2 (1.6) &  3.2 (0.1) &     7.9 (0.4) &    90.6 (0.5) \\
            & $\APS$ & $\standard$ &  3.3 (0.1) &    10.7 (0.4) &    89.9 (0.5) &  3.3 (0.1) &    10.8 (0.4) &    90.0 (0.4) \\
            &         & $\classwise$ &  6.8 (0.4) &    22.5 (1.5) &    90.6 (0.4) &  4.3 (0.1) &    14.8 (0.4) &    90.5 (0.4) \\
            &         & $\clustered$ &  3.4 (0.3) &    11.6 (1.8) &    90.3 (1.6) &  2.9 (0.1) &    11.8 (0.7) &    90.4 (0.7) \\
            & $\RAPS$ & $\standard$ &  3.8 (0.0) &     7.9 (0.3) &    90.0 (0.5) &  3.9 (0.0) &     8.0 (0.1) &    90.1 (0.3) \\
            &         & $\classwise$ &  6.8 (0.3) &    20.1 (1.6) &    90.6 (0.4) &  4.2 (0.1) &    12.0 (0.2) &    90.7 (0.2) \\
            &         & $\clustered$ &  4.0 (0.3) &     8.6 (1.0) &    90.1 (1.7) &  3.4 (0.2) &     9.2 (0.5) &    90.6 (0.6) \\
\midrule
iNaturalist & $\softmax$ & $\standard$ &  5.8 (0.0) &     6.7 (0.1) &    94.7 (0.1) &  5.8 (0.0) &     6.8 (0.1) &    94.8 (0.1) \\
            &         & $\classwise$ &  6.7 (0.2) &    19.0 (1.2) &    90.5 (1.0) &  4.4 (0.1) &     8.2 (0.2) &    90.4 (0.5) \\
            &         & $\clustered$ &  4.6 (0.2) &     6.6 (0.6) &    92.7 (0.9) &  4.1 (0.2) &     6.9 (0.5) &    92.5 (0.5) \\
            & $\APS$ & $\standard$ &  4.7 (0.0) &    13.2 (0.3) &    93.0 (0.2) &  4.8 (0.0) &    13.2 (0.1) &    93.2 (0.1) \\
            &         & $\classwise$ &  6.6 (0.2) &    27.1 (1.3) &    90.9 (0.8) &  4.4 (0.1) &    15.2 (0.4) &    90.5 (0.5) \\
            &         & $\clustered$ &  4.0 (0.3) &    12.5 (0.8) &    91.6 (0.8) &  3.5 (0.2) &    13.1 (0.7) &    91.7 (0.5) \\
            & $\RAPS$ & $\standard$ &  5.5 (0.0) &     7.4 (0.1) &    94.3 (0.2) &  5.6 (0.0) &     7.5 (0.1) &    94.5 (0.1) \\
            &         & $\classwise$ &  6.7 (0.2) &    41.2 (3.3) &    90.9 (0.8) &  4.5 (0.1) &    15.2 (0.5) &    90.5 (0.5) \\
            &         & $\clustered$ &  4.6 (0.1) &     9.8 (2.7) &    92.6 (0.7) &  3.8 (0.1) &    14.3 (2.4) &    92.1 (0.6) \\
\bottomrule
\end{tabular}

/tmp/ipykernel_968166/205200793.py:27: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  df_str = df.to_latex(multicolumn_format='c', # To center multilevel column headers